
<!-- Check box -->
<mat-checkbox #shaowDetails
[value]= ""
[checked]= "isChecked"
(change)="onChange($event)"
>Check me!</mat-checkbox>

<div *ngIf="shaowDetails.checked">apple</div>


<!-- Radio buttons -->
<mat-radio-group value="1">
  <mat-radio-button value="1" >Male</mat-radio-button>
  <mat-radio-button value="0" >Female</mat-radio-button>
</mat-radio-group>

<br>

<br>
<mat-label>Favorite food :</mat-label>
<mat-form-field>
<mat-select [(ngModel)]="colour">
  <mat-option
  *ngFor="let Color of colours"
  [value]="Color.id"> {{  Color.name }}</mat-option>
</mat-select>
</mat-form-field>


<br>
<mat-form-field>
  <input
  ngModel
  #username = "ngModel"
  name ="username"
  type="text" matInput placeholder="UserName"  required>
  <mat-hint>Unique UserName</mat-hint>
  <span matSuffix> @gmail.com </span>
  <span matPrefix>domai.</span>
  <mat-error *ngIf="username.invalid && username.errors.required">
    Username is Required
  </mat-error>
</mat-form-field>


<br>
<br>
<mat-form-field>
  <textarea  matTextareaAutosize rows="1" matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>


<br>
<br>

<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input
  (focus) = "picker.open()"
  min="minDate"
  max="maxDate"
  matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker touchUi="true"></mat-datepicker>
</mat-form-field>

<br>
<br>


<mat-icon>done</mat-icon>


<button mat-icon-button> Button </button>
<button color="primary" mat-fab>Button2</button>



<mat-chip-list aria-label="Fish selection">
  <mat-chip
  *ngFor="let category of categories"
  (click)="selectCategory(category)"
  [selected] = "category.selected"
  >{{ category.name }}</mat-chip>
</mat-chip-list>

<!-- <mat-chip-list aria-label="Fish selection">
  <mat-chip
  *ngFor="let category of categories"
  (click)="category.selected =! category.selected"
  [selected] = "category.selected"
  >{{ category.name }}</mat-chip>
</mat-chip-list> -->

<br>
<br>
<mat-spinner mode="determinate" [value]="progress"></mat-spinner>


<br><br>
<mat-spinner mode="indeterminate" *ngIf="isLoading" ></mat-spinner>



<br><br>
<br><br>
<button mat-raised-button matTooltipPosition = 'left'
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>


<br><br>
<br><br>


<mat-tab-group >
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>


<!-- <button
mat-raised-button (click)="openDialog()"
>Edit</button> -->
